.card {
  width: 20rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.title {
  font-weight: 500;
  font-size: 2.5rem;
}

.red {
  background-color: #f2295f;
}

.green {
  background-color: #07d9b2;
}
