.validation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.correct {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #07d9c4;
}

.incorrect {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #f2295f;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
